target
debug/
release/
*.rlib
*.rs.bk
*.prof*
*.log
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
harness/ruby-liquid/Makefile
harness/ruby-liquid/liquid_ext.bundle
harness/ruby-liquid/liquid_ext.bundle.dSYM/
harness/ruby-liquid/mkmf.log
harness/ruby-liquid/lib/liquid/liquid_ext.bundle
harness/ruby-liquid/lib/liquid/liquid_ext.bundle.dSYM/
harness/ruby-liquid/lib/liquid/.liquid_ext_ruby_version
harness/ruby-liquid/tmp/
