[package]
name = "liquid-bin"
version = "0.26.9"
description = "The liquid templating language for Rust"
categories = ["template-engine"]
keywords = ["liquid", "template", "templating", "language", "html"]
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
liquid = { version = "^0.26.11", path = "../../" }
serde = { version = "1.0.157", features = ["derive"] }
clap = { version = "4.3", features = ["derive"] }
serde_yaml = "0.9.0"
serde_json = "1.0"
derive_more = { version = "2.0.0", features = ["display", "from", "constructor"] }
