[package]
name = "liquid-bin"
version = "0.26.2"
authors = ["Ed Page <eopage@gmail.com>"]
description = "The liquid templating language for Rust"
repository = "https://github.com/cobalt-org/liquid-rust"
documentation = "https://docs.rs/liquid"
readme = "README.md"
categories = ["template-engine"]
keywords = ["liquid", "template", "templating", "language", "html"]
license.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
liquid = { version = "^0.26.2", path = "../../" }
serde = { version = "1.0", features = ["derive"] }
clap = { version = "3.1", features = ["derive"] }
serde_yaml = "0.8"
serde_json = "1.0"
derive_more = "0.99.2"
